* {
    box-sizing: content-box;
}
    
.container {
    align-items: center;
    background-color: rgba(172, 139, 240, 0.6);
    display: flex;
    flex-direction: column;
}

body {
    background-image: url('../Survey/Image/pcgroup.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

header {
    line-height: 15px;
    padding: 20px;
    text-align: center;
}

#title {
    margin-top: 45px;
}

#description {
    color: black;
    font-size: 18.5px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 8px;  
}

form {
    background-color: #004687b4;
    border: solid #007FFF;
    border-radius: 10px;
    padding: 17px 40px;
    text-align: left;
    width: 100%;
}

.forms {
    display: flex;
    padding: 7px 5px;
    border: solid black;
    width: 100%;
}

.form-group {
    padding: 8px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

span {
    font-size: 16px;
}

textarea {
    height: 90px;
    width: 100%;
    border-width: 2px;
}

button, input, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.input-checkbox,
.input-recommend {
    display: inline-block;
    margin-right: 10px;
    min-height: 19px;
    min-width: 19px;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 5px;
    resize: vertical;
}

.submit-button {
    background-color: 008B8B;
    border: solid black;
    border-width: 2px;
    color: white;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    padding: 14px 5px;
    height: 100%;
    width: 100%;
}
