* {
    box-sizing: content-box;
}
    
.container {
    align-items: center;
    background-color: rgba(172, 139, 240, 0.6);
    display: flex;
    flex-direction: column;
}

body {
    background-image: url('../Survey/Image/pcgroup.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

header {
    line-height: 15px;
    padding: 20px;
    text-align: center;
}

#title {
    margin-top: 45px;
}

#description {
    color: black;
    font-size: 18.5px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
}

